<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RealTop</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <header>
      <p>
        <a href="/">RealTop</a>
      <p>
      <nav>
        {% if current_user.is_authenticated %} {% if current_user.profile_pic %}
        <img class="avatar" src="{{ current_user.profile_pic }}" alt="Avatar" />
        {% else %}
        <span class="avatar-initial">{{ current_user.username[0]|upper }}</span>
        {% endif %}
        <a href="/profile" class="link-plain"
          >Hi, {{ current_user.username }}</a
        >
        <a href="/logout" class="btn-auth">Log Out</a>
        {% else %}
        <a href="/auth" class="btn-auth">Sign Up / Log In</a>
        {% endif %}
      </nav>
    </header>

    <main>

      <navbar>
        <a href="">TOP100</a>
        <span>•</span>
        <a href="">NEW RELEASES</a>
        <span>•</span>
        <a href="/browse">BROWSE</a>
        <span>•</span>
        <a href="">SEARCH</a>
        <span>•</span>
        <a href="/add">ADD</a>
      </navbar>

      <div class="box">
        <div class="box_heading">
          TOP100
        </div>
        <div class="box_content">
          <a href="/view">
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          </a>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="bottom_box">
          <h3>view all ></h3>
          </div>
        </div>
      </div>  


      <div class="box">
        <div class="box_heading">
          NEW RELEASES
        </div>
        <div class="box_content">
          <a href="/view">
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          </a>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="bottom_box">
          <h3>view all ></h3>
          </div>
        </div>
      </div>  


      
      <div class="box">
        <div class="box_heading">
          TOP100
        </div>
        <div class="box_content">
          <a href="/view">
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          </a>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="thumbnail">
              <img src="{{ url_for('static', filename='ph.JPG') }}" alt="Image" width="75%" height="100%">
              <div class="data">
                <b>Artist:</b> Donald Duck
                <br/>
                <b>Album:</b>  Donlad Duck single
                <br/>
                <b>Song:</b>  Donald Duck
                <br/>
                <h3>rating: 80%</h3>
                view >
              </div>
          </div>
          <div class="bottom_box">
          <h3>view all ></h3>
          </div>
        </div>
      </div>  


    </main>
  </body>
</html>
